
 <%- Compon ="aaa"  %>;
<html>
  <head>

</head>
<body>
  <h1>HELLO WORLD1</h1>

  <form  method =POST action='/posted' class="form-group">
      PPST DATA<input type ='text' name='data' />
  </form>
  <div>
    <%= Compon %>
  </div>


</body>

</html>