<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="styles.css" rel="stylesheet">
  </head>
  <body>
    <h1 class='text-center bg-primary'>TO DO LIST</h1>  
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-4">
          <h2 class='text-center bg-success'>Add Item</h2>
          <form method =POST action=<%= '/api/todos/'+items.username %> >
            <div class="form-group">
              <input  type="text" class="form-control" id="additem" name ='additem' placeholder="Enter to do">
            </div>
          </form>
        </div>
        <div class="col-sm-8">
          <h2 class='text-center bg-success'>List Container</h2>
          <ul class='list-group'>
            <% items.list.forEach(elem=>{  %>
               <a href="" class='list-group-item'><%= elem.todo %></a> 
            <%  } )  %>
          </ul>
        </div>
      </div>
    </div>
  </body>

</html>

